* {
    font-family: 'Noto Sans', sans-serif;
}
body {
  background: #292929;
  background-image: radial-gradient(#fff 1px, transparent 0);
  background-size: 40px 40px;
}
.topNavbar {
  display: block;
  padding-left: 3em;
  padding-top: 3em;
  padding-right: 3em;
}
.mainName {
  color: #fff;
  font-size: 50px;
  width: 25%;
  text-decoration: none;
}
.bottomNavbar {
  position: fixed;
  left: 3.5em;
  bottom: 4em;
}
.btn-1,
.btn-2,
.btn-3,
.btn-4 {
  display: block;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  opacity: 0.6;
  font-size: 20px;
}
.btn-1:active,
.btn-2:active,
.btn-3:active,
.btn-4:active {
  border: solid 1px #fff;
  border-radius: 20px;
  opacity: 1;
}
.navEmail {
    position: relative;
    float: right;
    color: #fff;
    position: fixed;
    bottom: 3.5em;
    right: 3em;
    margin: 0;
    font-size: 20px;
}
.homeText-1 {
    color: #fff;
    text-align: center;
    font-size: 5em;
    font-weight: normal;
    position: relative;
    top: 1em;
}
.homeText-2 {
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    font-weight: normal;
    position: relative;
    top: 2.5em;
}
